{{ define "contacts" }}

{{ template "header" }}

<main class="px-3">
    <h1>Страница контактов</h1><br>
     
    <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Ipsam quisquam illo fugit quas quidem culpa inventore consequatur earum qui tempore. 
        Omnis recusandae optio eveniet nemo, porro numquam ex. Eaque, dignissimos!
    </p>
  
    <br><p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold">Узнать больше</a>
    </p>

  </main>


{{ template "footer" }}

{{ end }}